@media screen and (max-width: 375px){
    .navbar_title{
        a{
            display: none;
        }
    }
    .navbar_hug{
        width: 90px;
    }
    .navbar_orders{
        h1{
            font-size: 15px;
        }
    }
    .search{
        input{
            display: none;
        }
    }
    .list_search{
        display: none;
    }
}